body {
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #3c3a40, #59529b, #021575);

}

.contact-form {
    background: rgba(25, 84, 124, 0.1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    width: 450px;
    color: white;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.form-row {
    display: flex;
    justify-content: space-between;

}

.form-row .form-group {
    width: 48%;
}

input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: white;
    width: 100%;
    margin: 5px 0;
}

textarea {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: white;
    width: 100%;
    margin: 10px 0;
}

button {
    width: 40%;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgb(57, 99, 99);
}